# Data Types in Python

This notebook is aimed at shedding some light on the different data types in Python. This shall form a strong foundation for your programming and Data Science journey.

## Numeric Data Type

You can check the data type of an object using the `type()` command.
The syntax looks like this: `type(variableName)`

In [4]:
type("Garima")

str

In [5]:
type('Rokaya')

str

In [6]:
type('9')

str

In [7]:
type(9)

int

In [9]:
type(True)

bool

In [10]:
type(0.123)

float

In [11]:
type(range(5))

range

### Your turn now.
Store the following into three different objects and check their data types:
* 2
* 1086J
* 3.14567

In [14]:
# Create an object with a value of 2

object = 2
type(object)
# Check the data type

int

In [15]:
# Create an object with a value of 1086J
object = 1086J
type(object)
# Check the data type

# Check the data type

complex

In [16]:
# Create an object with a value of 3.14567
object = 3.14567
type(object)
# Check the data type

# Check the data type

float

## String Data Type

String Data type usually is used to store text. The data to be stored in this data type is enclosed between single ('') or double ("") quotes.
Recall that you printed your name in the previous Notebook. That was string data type.
Let's look at an example.

In [20]:
# Printing your name
My_Name = "Garima Rokaya"
print(My_Name)

# Check the results of the My_Name variable
My_Name

Garima Rokaya

'Garima Rokaya'

In [21]:
# Check the data type of the My_Name variable
type(My_Name)

str

You can combine string methods with print statements to request information from a user. This uses the `input` statement and gives users a blinking cursor to enter information.

Complex print statements are also possible where it prints string text, the contents of a variable, and even perform small operations in the statement and return the results. In the example below we will create a variable called `my_name` and use the input method to ask the user to input their name. From there we can print a statement saying hello, the user's entered name, and some punctuation. In the next print statement we can use the `type()` method to print the data type of the variable `my_name`.

In [33]:
# Your turn to play around now.
# Use the input statement to ask a user to enter their name
# Syntax looks like this: descriptiveVariableName = input("Question to be asked? ")
name = input("What is your name?")

# Use a print statement to check your input. Add a greeting to your statement.
# Syntax looks like this: print("Greeting", descriptiveVariableName, "!")
print("Hello", name)

# Now use a print statement to tell the user the data type.
# Syntax looks like this: print("Your name is a ",type(descriptiveVariableName))
print("Your name is a ", type(name))

What is your name?Garima Rokaya
Hello Garima Rokaya
Your name is a  <class 'str'>

Various functions can be performed using strings like searching within a string, conversion to lowercase/uppercase, count, length, splitting, replacing, trimming, partitioning etc.

In [34]:
# Let's check how many characters does your name contain.
# Syntax: len(variableName)
count = input("What is your name?")
len(count)
print("Your name has", len(count), "characters")

What is your name?Garima
Your name has 6 characters

In [35]:
# Let's see if My_Name is all Caps or not.
# isupper() returns True if all the letters are Capitals, False if atleast one letter in in lower case.
# Syntax: variableName.isupper()
My_Name.isupper()

False

In [39]:
# Let's convert My_Name to all caps.
# Syntax: variableName = variableName.upper()

My_Name = My_Name.upper()
# Call the variable using the variable name.

My_Name

'GARIMA ROKAYA'

In [40]:
# Check the uppercase again,
# Now the output of isupper() changes to True.

My_Name.isupper()

True

In [60]:
# Your turn to try it now.
# Write a sentence and store it into an object.
# Don't forget quotation marks for strings
new_sentence = ("I am learning coding.")
print (new_sentence)

# Check the data type of the object.
type(new_sentence)

# Use a print statement to view your new_sentence
print(new_sentence)
# Use the .upper() method in a print statement to print the upper case sentence
# HINT: Use a print statement, your variable name, and the .upper() method
print(new_sentence.upper())

# Use the .capitalize() method to print the sentence with the first word capitalized.

print(new_sentence.capitalize())
# Use the .title() method to print the sentence with the first letter of each word capitalized.
print(new_sentence.title())

I am learning coding.
I am learning coding.
I AM LEARNING CODING.
I am learning coding.
I Am Learning Coding.

In [61]:
# Check the data type of the object you just created.
type(new_sentence)

str

In [62]:
# Check if it is all caps or not.
# Syntax: variableName.isupper()

new_sentence.isupper()

False

In [63]:
# Challenge - Check if it is all lower case or not.
# Use the example above to complete the challenge question
new_sentence.islower()

False

In [64]:
# Challenge - Convert your object into all caps.

print (new_sentence.upper())

I AM LEARNING CODING.

In [68]:
# Challenge - Convert your object into all lower case.

print(new_sentence.lower())

i am learning coding.

## Boolean Data Type

The boolean data type has just two values, i.e., True or False.

In [69]:
# Create two variables, one with a value of True, one with a value of False
Garima = True
Rokaya = False

# Check the data type of your variables.
type(Garima)
type(Rokaya)

bool

In [79]:
# Check the data type of your new variables
# HINT: you can check multiple items by separating the statements with a comma
type(Garima),type(Rokaya)

(bool, bool)

## Data Type Conversions

As explained earlier, data should be stored in correct form so that it can be manipulated efficiently later.
Quite a lot of times, data is not stored correctly or it gets imported incorrectly.
In such cases, data needs to be converted to its correct type so that it can be optimally used in our analysis.
Thus, let's look at data type conversion exercises to get you comfortable with the process.

In [89]:
# Create an object containing an integer.
xyz = 6
type(xyz)

int

In [90]:
# Check the data type of your new object
type(xyz)

int

In [93]:
# You want to use the value 1 as text. So let's convert it.
# Syntax: variableName = str(variableName)
variableName = 1
variableName = str(variableName)

In [94]:
# Check the data type of your new object again.
type(variableName)

str

In [95]:
# Exercise for you. Store the number 123456 as string.
string = 123456
string = str(string)
type(string)
# Check the data type

str

In [96]:
# Let's do the opposite now.
# Create a variable and assign a numeric value as a string
# HINT: Any value inside of quotes is a string
numeric = "123456"
type(numeric)
# Check the data type of your variable

str

In [97]:
# Let's learn to convert string to integer now.
# Syntax: variableName = int(variableName)

numeric = int(numeric)
type(numeric)
# Check the data type

int

In [100]:
# Let's convert a string to a float.
# Syntax: variableName = float(variableName)
num = Garima
num = float(num)
type(num)
# Check the data type

float

Good job so far!
You can also try converting strings to boolean and vice versa.
You could also try conversions from integers to float and float to integer.

Python is an intuitive language, so by default it stores data into correct formats.
But very often we come across data being stored incorrectly especially while importing.